<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
    <!--<bean id="bookTypeInfoAction" class="com.bookshoppingpro.action.BookTypeInfoAction" scope="prototype"/>-->
    <!--配置资源属性文件-->
    <context:property-placeholder location="classpath:conn_db.properties"/>
    <!--配置数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${conn_driverclass}"/>
        <property name="url" value="${conn_url}"/>
        <property name="username" value="${conn_username}"/>
        <property name="password" value="${conn_password}"/>
    </bean>
    <!--&lt;!&ndash;配置sqlSessionFactory Session工厂&ndash;&gt;-->
    <bean name="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--为pojo包添加别名-->
        <property name="typeAliasesPackage" value="com.zhaijisong.pojo"/>
        <!--依赖driverManagerDataSource引用对象-->
        <property name="dataSource" ref="dataSource"/>
        <!--加载配置文件-->
        <property name="mapperLocations" value="classpath:*Mapper.xml"/>
    </bean>
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean"/>
        <property name="basePackage" value="com.zhaijisong.dao"/>
    </bean>
    <!--基于注解的声明式事务bean-->
    <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>
    <bean id="dataSourceTransactionManager"
           class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>